body{
    background: url(/images/bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.my_container{
    background-color: rgb(171, 221, 223);
    display: flex;
    margin: 12px;
    /* padding: 12px; */
    font-size: 20px;
    color: black;
}
.middle{
    display: block;
    width: 33%;
    margin:auto;
    font-weight: bolder;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 18px;
}
a{
    text-decoration: none;
    color:black;
}
.content{
    color:black;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-weight: bolder;
}
